* {
    margin: 0;
    padding: 0;
    --shadow-color: rgba(0, 0, 0, 0.5);
    font-family: 'Friz Quadrata Std', sans-serif;
    color: #fffbeb;
}

html {
    background: url(assets/siteBKG.png) no-repeat center center fixed;
    background-size: cover;
}

body {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: .05fr repeat(auto-fit, minmax(0, 1fr));
    height: 100vh;
    width: 100%;
}


#header {
    font-size: 20px;
    margin: 20px;
    background-color: rgba(69, 26, 3, 85%);
    text-shadow: 1.5px 1.5px 1px var(--shadow-color);
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(250px, 2fr) minmax(100px, 1fr);
    grid-template-rows: 75px;
    align-items: center;
    box-shadow: 2px 0px 5px 0px var(--shadow-color);
    box-shadow: inset 0px 0px 10px 5px #1b0a00a4;
    border-radius: 15px;
}

#cart {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#logo {
    padding: 9.5px;
    background-color: rgba(46, 16, 1, 0.85);
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: inset 0px 0px 10px 5px #1b0a00a4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    width: 225px;
}

#logo p {
    margin-left: 5px;
    font-size: 18px;
}

#logoImage {
    height: auto;
    width: auto;
    border-radius: 50%;
    box-shadow: 0px 2px 0px 0px var(--shadow-color);
}

#navbar {
    padding: 10px;
    display: grid;
    grid-template: 100% / repeat(3, 1fr);
    justify-items: center;
}

.navLink {
    transition: .5s;
    padding: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 15px;
}

.navLink:hover {
    cursor: pointer;
    transition: .5s;
    background-color: #994f20cb;
    font-size: 110%;
    box-shadow: inset 0px 0px 10px 5px #1b0a00a4;
    
}

#siteBody {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#landingInfo {
    background-color: #ca8a04;
    box-shadow: 0px 0px 10px 2px var(--shadow-color);
    margin: 20px;
    border-radius: 5px;
    
}

#footer {
    background-color: #451a03;
    box-shadow: -2px 0px 5px 0px var(--shadow-color);
    box-shadow: inset 0px 0px 10px 5px #1b0a00a4;
}

#marketing {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#marketing > div {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    min-width: 430px;
}

#goblinText > p, #goblinText > em {
    color: #fbbf24;
    text-shadow: 2px 2px 5px var(--shadow-color);
}

#goblinPNG {
    padding: 0;
    margin-bottom: -10px;
    object-fit: cover;
    max-height: 450px;
    align-self: flex-end;
}