@keyframes nextIn {
    0%   {}
    100% { opacity: 1; transform: translateX(0%); scale: 100%;}
}

@keyframes nextOut {
    0%   {}
    100% { opacity: 0; transform: translateX(200%); scale: 80%;}
}

@keyframes lastIn {
    0% {}
    100% { opacity: .5; transform: translateX(116.5%); scale: 90%;}
}

@keyframes prevIn {
    0%   {}
    100% { opacity: 1; transform: translateX(0%); scale: 100%;}
}

@keyframes prevOut {
    0%   {}
    100% { opacity: 0; transform: translateX(-200%); scale: 80%;}
}

@keyframes currentNext {
    0%   {}
    100% { opacity: .5 ; transform: translateX(-116.5%); scale: 90%;}
}

@keyframes currentPrev {
    0%   {}
    100% { opacity: .5 ; transform: translateX(116.5%); scale: 90%; }
}

@keyframes textFadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes textFadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}