@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loadingAnim {
  animation: loadAnim 1s linear infinite;
  border-radius: 50%;
  border-color: red;
  border: 2px solid red;
  border-top-color: black;
  padding: 5px;
}

.loadingAnim2 {
  animation: loadAnim2 1s linear infinite;}

@keyframes loadAnim {
  0% {
    transform:  rotate(0deg);
  }
  100% {
    transform:  rotate(360deg);
  }
}

@keyframes loadAnim2 {
  0% {
    transform:  rotate(0deg);
  }
  100% {
    transform:  rotate(-360deg);
  }
}



@layer utilities {
  @variants hover, focus {
    .text-shadow-none {
      text-shadow: 0px 0px 0px;
    }

    .text-shadow-sm {
      text-shadow: 0px 0px 2.5px rgba(0,0,0,.90)
    }
  
    .text-shadow-md {
      text-shadow: 0px 0px 5px rgba(0,0,0,.90)
    }

    .text-shadow-lg {
      text-shadow: 0px 0px 10px rgba(0,0,0,.90)
    }
  }
}
